# Node modules
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Typescript compiled files
**/*.tsbuildinfo
**/*.tsbuildcache

# Output directories
dist/
build/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.local
.env.*.local

# Ignore MacOS system files
.DS_Store

# Ignore Vite generated cache directory
.vite

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore SASS cache
.sass-cache/

# Ignore coverage reports
coverage/

# Ignore .eslintcache
.eslintcache

# Ignore parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache
.parcelrc

# Ignore serverless directories
.serverless/

# Ignore log files
*.log

# Ignore temporary directories
tmp/
temp/
